<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="css/main.css">

    <!-- Font icon -->
    <link rel="stylesheet" href="css/font-awesome.min.css">


</head>
<body>
<header>
    <i class="fa fa-chevron-left" aria-hidden="true"></i> &nbsp;&nbsp;MENU
</header>
<div class="container-chat">
    <div class="left">
        <%include left%>
    </div>
    <div class="middle">
        <%include middle%>
    </div>
    <div class="right">
        <%include right%>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>