<h3 class="text-header text-center text-black">Available Customer</h3>
<div id="chat">
    <div class="room-item">
        <div class="close"><i class="fa fa-times" aria-hidden="true"></i></div>
        <div class="d-flex room-available">
            <img src="https://pluralsight.imgix.net/author/lg/70ada62d-cb01-4114-aa65-e3d18d0494ed.jpeg?w=200" class="avatar" alt="image">
            <div class="customer-info">
                <div class="customer-name">Vu Tuan</div>
                <div class="customer-last-massage">hello world!</div>
            </div>
            <div class="control"><span>10:20 PM</span></div>
        </div>

        <div class="d-flex room-info">
            <div class="room-type">Technical</div>
            <div class="room-src">Facebook</div>
            <div class="room-status">Twitter</div>
        </div>
    </div>

</div>
<h3 class="text-header text-danger text-center">Enable Customer</h3>
<div id="unchat">
    <div class="room-item">
        <div class="close"><i class="fa fa-times" aria-hidden="true"></i></div>
        <div class="d-flex room-enable">
            <img src="https://pluralsight.imgix.net/author/lg/70ada62d-cb01-4114-aa65-e3d18d0494ed.jpeg?w=200" class="avatar" alt="image">
            <div class="customer-info">
                <div class="customer-name">Vu Tuan</div>
                <div class="customer-last-massage">hello world!</div>
            </div>
        </div>
        <div class="d-flex room-info">
            <div class="room-type">Technical</div>
            <div class="room-src">Facebook</div>
            <div class="room-status">Twitter</div>
        </div>
    </div>

</div>