
<ul class="nav nav-tabs" id="leftbar" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#chat" role="tab" aria-controls="available">Available Customer</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#unchat" role="tab" aria-controls="enable">Enable Customer <span class="badge badge-warning">5</span></a>
    </li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="chat" role="tabpanel">
        <div class="row search-bar">
            <div class="input-group">
                <span class="input-group-addon" id="btnGroupAddon"><i class="fa fa-search" aria-hidden="true"></i></span>
                <input type="text" class="form-control" placeholder="Search" aria-describedby="btnGroupAddon">
            </div>
        </div>
        <div class="room-item">
            <div class="d-flex room-info">
                <div class="room-tag"><span>Technical</span></div>
                <div class="room-tag-icon"><i class="fa fa-heart text-red" aria-hidden="true"></i></div>
                <div class="room-tag-icon"><i class="fa fa-exclamation" aria-hidden="true"></i></div>
                <div class="timer"><span>10:20 PM</span></div>
            </div>
            <div class="d-flex room-available">
                <img src="https://pluralsight.imgix.net/author/lg/70ada62d-cb01-4114-aa65-e3d18d0494ed.jpeg?w=200" class="avatar" alt="image">
                <div class="customer-info">
                    <div class="customer-name">Vu Tuan</div>
                    <div class="customer-last-massage">hello world!</div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane" id="unchat" role="tabpanel">
        <div class="room-item">
            <div class="close"><i class="fa fa-times" aria-hidden="true"></i></div>
            <div class="d-flex room-enable">
                <img src="https://pluralsight.imgix.net/author/lg/70ada62d-cb01-4114-aa65-e3d18d0494ed.jpeg?w=200" class="avatar" alt="image">
                <div class="customer-info">
                    <div class="customer-name">Vu Tuan</div>
                    <div class="customer-last-massage">hello world!</div>
                </div>
            </div>
            <div class="d-flex room-info">
                <div class="room-type">Technical</div>
                <div class="room-src">Facebook</div>
                <div class="room-status">Twitter</div>
            </div>
        </div>
    </div>
</div>