<div class="header">
    <div>CHAT HEADER</div>
    <div class="group-button">
        <button class="btn btn-outline-danger">Close room</button>
    </div>
</div>
<div class="body">
    <div class="chat-group self">
        <div class="chat">Hello</div>
    </div>
    <div class="chat-group other">
        <div class="chat">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid laborum molestiae
            quo.
        </div>
    </div>
    <div class="chat-group self">
        <div class="chat">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid laborum molestiae
            quo.
        </div>
    </div>
</div>
<div class="bottom">
    <div class="chat-input">
        <input class="form-control" type="text" placeholder="Type here">
    </div>
    <div class="group-button">
        <a class="button send" href="#"><i class="fa fa-paper-plane" aria-hidden="true"></i></a>
    </div>
</div>
