<div class="customer" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">

    <div class="row">
        <div class="col-md-3">
            <img class="rounded-circle " src="https://i1.wp.com/fimo.edu.vn/wp-content/uploads/2017/02/UET-logo-txt.png">

        </div>
        <div class="col-md-9 customer-short-info">
            <p>Nguyễn Đức Thuần</p>
            <p>01664 375 871</p>
        </div>

    </div>

</div>

<div class="customer-full-info collapse" id="collapseExample">

    <div>
        <p><i class="fa fa-user" aria-hidden="true"></i><strong>Nguyễn Đức Thuần</strong></p>
    </div>
    <div>
        <p><i class="fa fa-phone" aria-hidden="true"></i><strong>01664 375 871</strong></p>
    </div>
    <div>
        <p><i class="fa fa-home" aria-hidden="true"></i><strong>Đại học Công Nghệ - ĐHQGHN</strong></p>
    </div>
    <div>
        <p><i class="fa fa-map-marker" aria-hidden="true"></i><a href="https://facebook.com">Facebook</a></p>
    </div>
    <div>
        <p><i class="fa fa-history" aria-hidden="true"></i><strong>Lịch sử chat</strong></p>
        <ol>
            <li><a href="#">Room 1 - Đã đóng</a></li>
            <li><a href="#">Room 2 - Đang hoạt động</a></li>
        </ol>
    </div>
</div>

<div class="notes-list">
    <div class="px-md py-sm note-item border-right-0">
        <div class="note-item-content d-flex">
            <div class="pr-sm ps-type-ellipsis">This is the first note of this roome2134e21321321r32444444444444444444444452345235</div>
            <div class="note-item-timestamp">15:23</div>
            <div class="note-item-edit-label d-flex ps-color-orange">
                <div class="note-item-delete-link d-flex align-items-center px-md">
                    <a class="delete-note-link pl-tiny">delete /</a>
                </div>
                <div class="note-item-edit-link d-flex align-items-center">
                    <a class="edit-note-link pl-tiny"> edit</a>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="take-note">
    <textarea class="form-control" id="exampleTextarea" rows="3" placeholder="Add a note..."></textarea>
</div>