
.text-header {
  background-color: #00b6c9;
}

#chat {
  height: 60%;
  overflow:auto
}

#unchat {
  height: 40%;
  overflow: auto;
}

.room-item {
  padding: 5px 0px;
  margin-bottom: 5px;
  background-color: #f7f7f7;
}

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.room-available {
  margin: 0px 10px;
}
.new-message{
  font-weight: bold;
}
.room-enable {
  margin: 0px 10px;
}
.customer-info {
  align-self: center;
  text-align: left;
  margin-left: 10px;
}

.control {
  margin-left: auto;
  align-self: center;
  font-size: 12px;
}
.customer-name {
  text-transform: capitalize;
  color: black;
}

.customer-last-massage {
  color: $dark-grey;
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.room-info {
  display: flex;
  font-size: 16px;
  margin: 5px 0px 2px 10px;
}

.room-type, .room-src, .room-status {
  border: solid $dark-blue 1px;
  border-radius: 10px;
  text-align: center;
  background: $light-blue;
  color: white;
  border: transparent;
  padding: 4px 8px;
  margin-right: 8px;
  font-size: 12px;
}

