.customer, .customer-full-info, .notes-list {
  border: 1px solid rgba(0, 0, 0, .10);
  padding: 15px;
}

.take-note {
  padding: 15px;
}

.customer {

  div {
    img, p {
      vertical-align: middle;
    }

  }

  vertical-align: text-top;

  img:first-child {
    width: 100%;
  }

  p:first-child {
    margin-bottom: 0;
  }

  p:nth-child(2) {
    font-size: 0.7em;
    opacity: 0.8;
  }
}

.customer:hover{
  cursor: pointer;
}

.customer-full-info {
  font-size: 0.9em;

  i {
    font-size: 0.9em;
  }
  strong{
    padding-left: 0.5em;
  }
  a{
    padding-left: 0.5em;
  }
}

.notes-list{
  background-color: #363636;

  overflow-y: auto;
  flex-grow: 1;
  overflow-x: hidden;

  .note-item{

    transition: background-color .2s;
    transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: initial;
    transition-delay: initial;
    border: 1px solid #fff;
    padding: 5px;
    line-height: 2.0em;

    .note-item-content {
      font-size: .95rem;
      color: #fff;
      justify-content: space-around;
      .ps-type-ellipsis {
        //white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .pr-sm {
        padding-right: .75rem !important;
      }
      .note-item-timestamp{

      }
    }

    .note-item-edit-label {
      min-width: 8rem;
      margin-right: -9.3rem;
      transition: margin-right 0.3s;
      transition-property: margin-right;
      transition-duration: 0.3s;
      transition-timing-function: initial;
      transition-delay: initial;
      a:hover{
        text-decoration: underline;
      }
      .align-items-center{
        align-items: center;
      }
    }

  }

  .note-item:hover {
    background-color: #000000;
    cursor: pointer;
    .note-item-edit-label{
      margin-right: 0;
    }
  }





}

.take-note{
  height: 150px;
  bottom: 0;
}